@import "_reset";
@import "_metodos";

// COLORES
$color-1: #222;
$color-2: #fff;
$color-3: #fff8;
$padding: 20px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


*{
    font-family: 'Roboto', serif !important;
}
// ICONO WhatsApp Flotante
.ventana-wsp{
    display: flex;

    .btn-wtsp{
        position: fixed;
        bottom: 20px;
        right: 20px;
        @include cuadrado(60px);
        background-color: #25D366;
        line-height: 60px;
        text-align: center;
        font-size: 38px;
        border-radius: 50%;
        z-index: 10;
        border:none;
        .fa-whatsapp{
            color: $color-2;
        }
        #toggler{
            display: none;
        }
        .msj-emerg{
            position: fixed;
            font-size: 20px;
            @include dimensiones(300px, 250px);
            background: $color-2;
            border: 3px solid #25D366;
            border-radius: 5px;
            bottom: 85px;
            right: -100%;
            text-align: center;
            transition: all .8s cubic-bezier(0, 1, 0.76, 0.65);
            z-index: 20;
        }
        #toggler:checked ~ .msj-emerg{
            right: 60px;
        }
        .mensaje{
            width: 200px;
        }
        textarea{
            resize: none;
            width: 200px;
            border: 1px solid $color-1;
            outline: none;
        }
        .btn-enviar{
            @include dimensiones(40px ,200px);
            background-color: #128C7E;
            border: none;
            line-height: 40px;
            border-radius: 5px;
            transition: .6s ease-in-out;
            &:hover{
                background-color: #25D366;
            }
        }
    }
}


// Nav
.navbar-nav{
    .nav-link{
        color: $color-1 !important;
        
    }
    a{
        font-size: 18px;
        font-weight: bold;
        transition: .3s ease-in-out;
        &:hover{
            text-decoration: underline;
            transform: scale(1.05);
            @include mediaQ;
        }
        span{
            padding: 5px;
            background-color: $color-1;
            color: $color-2 !important;
        }
    }
}

.navbar-collapse{
    flex-grow: 0 !important;
}

// Index
.slide{
    img{
        height: 525px;
    }
}

// Footer
.footer__redes{
    background-color: $color-1;
    @include dimensiones(60px, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    a{
        color: $color-2;
        padding: $padding;
        bottom: 1px;
        @include animacion-ico;
        animation-name: animacion_icono;
        animation-duration: 2s;
        animation-iteration-count: infinite
    }
}

// PRODUCTOS
.contenedor_titulo{
    @include dimensiones(60px, 100%);
    background-color: $color-1;
    
    .titulo{
        color: $color-2;
        font-size: 20px;
        text-align: center;
        padding: $padding;
        text-transform: uppercase;
        font-weight: bolder;
        @include animacion;
        animation-name: animacion_texto;
        animation-duration: 1s;
    }
}

.card_contenedor{
    position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
	padding: $padding;
    justify-items: center;
        .card{
            width: 100%;
            background: $color-2;
            &:hover{
                .card__imgBx{
                    .action{
                        .action__box{
                            transform: translateX(0px);
                        }
                    }    
                }
            }
            .card__imgBx{
                position: relative;
                @include dimensiones(310px, 100%);
                overflow: hidden;
                &:hover{
                    img{
                        transform: scale(1.2);
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include cuadrado(100%);
                    object-fit: cover;
                    transition: .4s ease-out;
                    transform-origin: right;    
                }
                .action{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    .action__box{
                        position: relative;
                        list-style: none;
                        @include cuadrado(40px);
                        background: $color-2;
                        border: 1px solid $color-2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 4px;
                        cursor: pointer;
                        transition: .2s ease-in;
                        transform: translateX(75px);
                        &:first-child{
                            &:hover{
                                background-color: #fc2f2f;
                            }
                        }
                        &:nth-child(2){   
                            transition-delay: .15s;
                        }
                        &:nth-child(3){                            
                            transition-delay: .3s;
                        }
                        &:hover{
                            border: none;
                            background: #6ca5f0;
                            color: $color-2;
                            border-radius: 5px;
                            
                            span{
                                opacity: 1;
                                transform: translate(-50%, 0px);
                            }
                            .detalles{
                                transform: translate(-50%, -10px);
                                opacity: 1;
                            }
                        }
                        span{
                            position: absolute;
                            font-weight: bold;
                            right: 5px;
                            width: 120px;
                            padding: 5px;
                            transform: translate(-50%, -20px);
                            white-space: 6px 10px;
                            color: $color-1;
                            background: $color-3;
                            font-size: 15px;
                            pointer-events: none;
                            opacity: 0;
                            transition: .2s ease-in;
                        }
                        .detalles{
                            position: absolute;
                            right: -20px;
                            top: 12px;
                            @include dimensiones(150px, 170px);
                            transform: translate(-50%, 0px);
                            padding: 6px 10px;
                            background-color: $color-3;
                            font-size: 10px;
                            color: $color-1;
                            pointer-events: none;
                            opacity: 0;
                            transition: .2s ease-in;
                            h3{
                                font-size: 22px;
                                font-weight: bold;
                                padding-bottom: 13px;
                            }
                            ul{
                                
                                h4{
                                    font-size: 20px;
                                    text-decoration: underline;
                                    margin-bottom: 5px;
                                }
                                p{
                                    font-size: 17px;
                                    font-style: italic;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }   
                }
            }
        .card__contenido{
            .contenido__nombreProducto{
                display: flex;
                justify-content: center;
                align-items: center;
                h3{
                    font-size: 20px;
                    font-weight: bold;
                    color: $color-1;
                    margin: 10px auto;
                }
            }
            .contenido__precioProducto{
                h3{
                    font-size: 20px;
                    color:$color-1;
                    font-weight: normal;
                    text-align: center;
                    padding: 5px;
                }
            }
        }
    }
}
// contacto
section{
    display: flex;
    justify-content: center;
    .container-fluid{
        div{
            .contenedor_titulo{
                margin-bottom: 10px;
            }
            iframe{
                border-radius: 5px;
            }
            span{
                background-color: $color-1;
                color:$color-2;
                padding: 6px;
            }
        }
    }
}


